@charset "utf-8";
body,html{background:#ffffff;min-width:100%;min-height:100%}
body,input,textarea,select{word-wrap:break-word;font-family:"Microsoft Yahei","Verdana","arial","宋体";color:#333333;font-size:14px;outline:none;word-break:break-all;word-wrap:break-word;padding:0;margin:0;}
ul,li{ padding:0;margin:0;list-style:none}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#000;}

.ui_header{width:100%;height:64px;background-color:#0A2140;position:fixed;top:0;left:0;z-index:99;}
.ui_header .main{width:1200px;height:100%;margin:0 auto;}
.ui_header .logo{height:100%;float:left;}
.ui_header .logo img{height:100%;}
.ui_header .menu{height:100%;margin-right:60px;float:right;}
.ui_header .menu a{height:100%;float:left;color:#fff;padding:0 20px;line-height:64px;font-size:15px;}
.ui_header .menu .on{color:#75f4fd;}
.ui_header .menu a:hover{color:#75f4fd;text-decoration:none;}
.ui_header .menu .on::after, .ui_header .menu a:hover::after{content:'';display:block;width:20px;height:2px;background:#75f4fd;margin:0 auto;margin-top:-12px;}
.ui_header .btn{float:right;height:34px;padding:15px 0;}
.ui_header .btn a{float:right;color:#fff;text-align:center;letter-spacing:1px;cursor:pointer;border-radius:17px;font-size:12px;font-family:PingFangSC-Semibold;text-decoration:none;} 
.ui_header .btn .btnl{width:92px;height:100%;line-height:34px;background:#2F88FF;font-weight:500;}
.ui_header .btn .btnr{width:75px;line-height:32px;margin-left: 20px;border:1px solid rgba(255,255,255,1);font-weight:400;}
.ui_header .btn .btnr:hover{color:#2F88FF;}

.ui_body{width:100%;background-color:#F7F8FA;overflow:hidden;margin-top:62px;}
.ui_body .main{width:1200px;margin:0px auto;}
.ui_banner{height:420px;margin-top:20px !important;}
.ui_banner .advert{width:840px;height:100%;float:left;}
.ui_banner .advert img{width:100%;height:100%;}
.ui_banner .login{width:340px;height:100%;background-color:#fff;float:right;padding:24px 30px;box-sizing:border-box;position:relative;}
.ui_banner .login .title{width:100%;height:28px;margin-bottom:30px;position:relative;font-weight:500;font-size:18px;font-family:PingFangSC-Medium;}
.ui_banner .login .title .tips{width:132px;float:right;height:28px;font-size:12px;background-color:#fffbf4;border:1px solid rgba(250,137,21,0.2);border-radius:3px;box-sizing:border-box;line-height:26px;margin-right:25px;z-index:10;}
.ui_banner .login .title .tips .iconfont{margin:0 4px;color:#faad15;font-size:20px;float:left;}
.ui_banner .login .title .tips .txt{color:#666;}
.ui_banner .login .icon{width:42px;height:42px;position:absolute;top:10px;right:10px;z-index:2;overflow:hidden;}
.ui_banner .login .icon:hover{text-decoration:none;}
.ui_banner .login .icon .iconfont{color:#598fe6;font-size:40px;}
.ui_banner .login .icon .mask{display:block;width:60px;height:24px;background-color:#fff;margin-left:-20px;margin-top:-24px;
	transform:rotate(45deg);
-ms-transform:rotate(45deg); 	/* IE 9 */
-moz-transform:rotate(45deg); 	/* Firefox */
-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
-o-transform:rotate(45deg); 	/* Opera */
}
.ui_banner .login .sline{width:100%;display:flex;align-items:center;justify-content:center;}
.ui_banner .login .sline .line{display:block;width:1px;height:14px;margin:0 26px;background-color:#EAEAEA;}
.ui_banner .login .ways{height:20px;margin-bottom:25px;}
.ui_banner .login .ways .on{color:#006EFF;}
.ui_banner .login .ways a{color:#666;}
.ui_banner .login .ways a:hover{text-decoration:none;}
.ui_banner .login .ways a .iconfont{margin-right:4px;font-weight:500;color:#000;font-size:15px;}
.ui_banner .login .ways .on .iconfont{color:#006EFF;}
.ui_banner .login .ui_inp{width:100%;}
.ui_banner .login .ui_inp .inp{width:100%;height:36px;background-color:#fff;color:#222;border-radius:4px;border:1px solid #e4e4e4;padding:0 12px;font-size:12px;line-height:34px;margin-bottom:18px;box-sizing:border-box;}
.ui_banner .login .ui_inp .inp::-webkit-input-placeholder{color:#c2c2c2;}
.ui_banner .login .ui_inp .inp::-moz-placeholder{color:#c2c2c2;}
.ui_banner .login .ui_inp .inp::-ms-input-placeholder{color:#c2c2c2;}
.ui_banner .login .ui_inp .verifi{width:100%;position:relative;}
.ui_banner .login .ui_inp .verifi .inp{padding-right:112px;}
.ui_banner .login .ui_inp .verifi a{width:100px;height:34px;line-height:34px;text-align:center;font-size:12px;position:absolute;top:1px;right:0;color:#fff;background-color:#2F88FF;}
.ui_banner .login .agree{width:100%;height:18px;line-height:18px;color:#999;font-size:12px;display:flex;align-items:center;justify-content:center;margin-top:20px;margin-bottom:12px;}
.ui_banner .login .agree .radio{width:12px;height:12px;border:1px solid #2a90d7;margin-right:5px;border-radius:50%;cursor:pointer;}
.ui_banner .login .agree .radio span{width:100%;height:100%;border-radius:50%;border:2px solid #fff;display:block;box-sizing:border-box;}
.ui_banner .login .agree .radio_state{background-color:#2a90d7;}
.ui_banner .login .agree a{color:#2a90d7;}
.ui_banner .login .login_btn{width:100%;height:36px;text-align:center;line-height:36px;background-color:#2F88FF;color:#fff;display:block;border-radius:4px;}
.ui_banner .login .login_btn:hover{background-color:rgba(47,136,255,0.9);text-decoration:none;}
.ui_banner .login .other{height:16px;font-size:12px;position:absolute;bottom:50px;left:0;}
.ui_banner .login .other a{padding:0 5px;}
.ui_code{width:100%;margin:50px 0 20px;text-align:center;display:none;}
.ui_code .code{width:100%;line-height:0;font-size:0;}
.ui_code .code img{width:170px;height:170px;border;border:1px solid #d8d8d8;}
.ui_code .desc{margin:30px 0;}

/*平台产品*/
.ui_products{background-color:#fff;margin-top:20px !important;}
.ui_products .title{width:100%;height:28px;line-height:28px;padding-top:24px;color:#222;font-size:20px;font-weight:500;text-indent:30px;}
.ui_products .title a{float:right;margin-right:30px;font-size:12px;font-weight:400;color:#999999;cursor:pointer;text-decoration:none;}
.ui_products .title a:hover{color:#2F88FF;}
.ui_products .block{width:100%;padding:10px 30px 0px 30px;overflow:hidden;box-sizing:border-box;}
.ui_products .block a{width:271px;height:250px;float:left;margin-left:16px;margin-bottom:16px;cursor:pointer;border:1px solid #e9e8ed;border-radius:3px;text-align:center;cursor:pointer;transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;position:relative;top:0;}
.ui_products .block a:nth-of-type(4n+1){margin-left:0;}
.ui_products .block a:hover{text-decoration:none;border:1px solid #4d84ff;-webkit-box-shadow:0 10px 15px rgba(77,132,255,0.2);-moz-box-shadow:0 10px 15px rgba(77,132,255,0.2);box-shadow:0 10px 15px rgba(77,132,255,0.2);top:-10px;}
.ui_products .block a span{width:80px;height:80px;line-height:80px;font-size:68px;margin:15px auto 0;display:block;color:#5490ff;}
.ui_products .block a .tit{font-size:16px;height:18px;line-height:18px;color:#19233f;margin:15px 0;font-weight:500;color:#000;}
.ui_products .block a .txt{height:40px;padding:0 12px;color:#999;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;line-height:20px;}
.ui_products .block a .price{margin-top:15px;color:#666;font-size:16px;}
.ui_products .block a .more{width:100%;height:100%;background-color:#f5f5f5;}
.ui_products .block a .more p{text-align:center;font-size:28px;color:#6c5c4c;line-height:45px;padding-top:90px;letter-spacing:4px;font-weight:bold;}

/*接入指引*/
.ui_guide{height:580px;overflow:hidden;margin-top:20px !important;margin-bottom:20px !important;}
.ui_guide .chat{width:360px;height:100%;float:left;background-color:#f5f5f5;position:relative;padding:56px 0 52px;box-sizing:border-box;background-image:url("../images/chat_bg.jpg");background-size:cover;}
.ui_guide .chat .title{width:100%;height:56px;line-height:56px;position:absolute;top:0;left:0;z-index:10;text-align:center;font-size:18px;background-color:#3b3a3f;color:#fff;}
.ui_guide .chat .text{width:100%;height:100%;padding:0 12px 10px;box-sizing:border-box;overflow-x:hidden;overflow-y:auto;}
.ui_guide .chat .text::-webkit-scrollbar {/*滚动条整体样式*/
	width:6px;     /*高宽分别对应横竖滚动条的尺寸*/
	height:1px;
}
.ui_guide .chat .text::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius:5px;
	background:#7b889c;
}
.ui_guide .chat .text::-webkit-scrollbar-track {/*滚动条里面轨道*/
	/*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
	border-radius:5px;
	background:#d9dde4;
}
.ui_guide .chat .text li{width:90%;position:relative;margin-top:18px;box-sizing:border-box;}
.ui_guide .chat .text li img{width:40px;height:40px;border-radius:50%;position:absolute;top:0;}
.ui_guide .chat .text .txt{min-height:40px;font-size:15px;line-height:24px;padding:8px;box-sizing:border-box;border-radius:6px;border:1px solid #d8d8d8;color:#333;}
.ui_guide .chat .text .t1{padding-left:52px;float:left;}
.ui_guide .chat .text .t2{padding-right:52px;float:right;}
.ui_guide .chat .text .t1 img{left:0;}
.ui_guide .chat .text .t2 img{right:0;}
.ui_guide .chat .text .t1 .txt{float:left;background-color:#fff;}
.ui_guide .chat .text .t2 .txt{float:right;background-color:#98e855;}
.ui_guide .chat .cont{width:100%;height:52px;position:absolute;left:0;bottom:0px;z-index:10;background-color:#ebebeb;padding:8px 76px 8px 12px;box-sizing:border-box;box-shadow:0 -2px 5px #d8d8d8;}
.ui_guide .chat .cont .inp{width:100%;height:36px;margin:0;padding:5px 10px;border:1px solid #d8d8d8;color:#333;box-sizing:border-box;background-color:#fff;border-radius:18px;}
.ui_guide .chat .cont .inp::-webkit-input-placeholder{color:#999;}
.ui_guide .chat .cont .inp::-moz-placeholder{color:#999;}
.ui_guide .chat .cont .inp::-ms-input-placeholder{color:#999;}
.ui_guide .chat .cont .send{width:54px;height:34px;line-height:34px;text-align:center;position:absolute;right:12px;top:9px;color:#fff;background-color:#02cb0b;}
.ui_guide .chat .cont .send:hover{background-color:#01d40d;}
.ui_guide .guide{width:820px;height:100%;padding:20px 30px;float:right;background-color:#fff;box-sizing:border-box;}
.ui_guide .top{width:100%;height:42px;border-bottom:2px solid #ebebeb;}
.ui_guide .top a{width:140px;height:100%;line-height:42px;float:left;text-align:center;font-size:16px;background-color:#ebebeb;color:#777;}
.ui_guide .top a:hover{text-decoration:none;background-color:#e2e2e2;}
.ui_guide .top a.on{background-color:#2F88FF;color:#fff;}
.ui_guide .top a.on:after{content:'';display:block;width:140px;height:2px;background-color:#2F88FF;}
.ui_guide .guide .tit{height:15px;line-height:15px;padding-left:10px;border-left:3px solid #00aeff;margin-bottom:10px;color:#333;font-weight:600;font-size:15px;}
.ui_guide .guide .txt{width:100%;overflow:hidden;padding-left:20px;box-sizing:border-box;}
.ui_guide .guide .txt li{width:100%;height:38px;line-height:38px;text-indent:10px;border-bottom:1px dashed #ccc;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:300;}
.ui_guide .guide .txt li span{color:#333;margin-right:2px;font-weight:600;}
.ui_guide .guide .example{width:100%;overflow:hidden;margin-top:15px;}
.ui_guide .guide .example .cont{width:100%;line-height:42px;}
.ui_guide .guide .param{width:100%;overflow:hidden;margin-top:20px;}
.ui_guide .guide .param ul{border:1px solid #e8e8e8;box-sizing:border-box;width:100%;overflow:hidden;}
.ui_guide .guide .param ul li{width:50%;float:left;height:36px;line-height:36px;}
.ui_guide .guide .param ul span{margin-left:30px;margin-right:5px;}

.codetable{border-collapse:0;border-spacing:0;width:100%;border-collapse:collapse;border:1px solid #e8e8e8}
.codetable td,.codetable th{padding:0 10px 0 10px;background-color:#fff;border: 1px solid #e8e8e8;}
.codetable th{background-color:#f0f3f4}
.coderes{margin-top:20px}
.coderes .tips{padding:10px;background-color:#fffdef;color:red;line-height:28px}
/*问题解答*/
.ui_question{background-color:#fff;margin-top:20px !important;}
.ui_question .title{width:100%;height:28px;line-height:28px;padding-top:24px;color:#222;font-size:20px;font-weight:500;text-indent:30px;}
.ui_question .title a{float:right;margin-right:30px;font-size:12px;font-weight:400;color:#999999;cursor:pointer;text-decoration:none;}
.ui_question .title a:hover{color:#2F88FF;}
.ui_question ul{width:100%;overflow:hidden;padding:50px 60px;box-sizing:border-box;}
.ui_question ul li{width:270px;height:300px;float:left;border-left:1px dotted #d0d0d0;padding:0 25px;box-sizing:border-box;
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.ui_question ul li:first-child{border-left:0;}
.ui_question ul li:hover{-webkit-box-shadow:0 0px 25px #dce6ff;-moz-box-shadow:0 0px 25px #dce6ff;box-shadow:0 0px 25px #dce6ff;}
.ui_question ul li span{width:90px;height:90px;display:block;margin:0 auto;line-height:90px;text-align:center;color:#5490ff;font-size:80px;margin-top:10px;}
.ui_question ul li .tit{width:100%;margin-top:30px;line-height:20px;text-align:center;font-size:16px;font-weight:bold;}
.ui_question ul li .desc{width:100%;text-indent:30px;color:#666;padding-top:20px;line-height:25px;}
.ui_foot_banner{height:150px;margin-top:20px !important;margin-bottom:20px !important;font-size:0;line-height:0;}
.ui_foot_banner img{width:100%;height:100%;}
/*网站底部*/
.ui_footer{width:100%;padding:20px 0;background-color:#0A2140;}
.ui_footer .main{width:1200px;margin:0 auto;text-align:center;line-height:26px;color:rgba(255, 255, 255, 0.55);}
.ui_footer .main a{margin-right:15px;color:rgba(255, 255, 255, 0.55);}